.container {
  background-color: white;
  margin: 0 5%;
  color: black;
  font-size: 12px;
}

.headerWrapperClasses {
  font-weight: bold;
}

.indexColumn {
  width: 50px;
  vertical-align: middle !important;
}
